html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.navbar {
    background-color: #333;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.navbar-brand {
    color: #ff6347;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ff6347;
    text-decoration: underline;
}

.btn.contact-btn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-brand:hover{
    color: #ff4500;
}

.btn.contact-btn:hover {
    background-color: #ff4500;
}

/* Hamburger Menu Styles */
.navbar-toggle {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1100;
    font-size: 1.5rem; /* Adjust the size of the icon */
    color: white; /* Icon color */
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        display: none;
    }

    .navbar-links.active {
        display: flex;
    }

    .btn.contact-btn {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }

    .navbar-toggle {
        display: block; /* Ensure this is set to block on small screens */
    }
}
